{%- extends 'base.html' %} 

{%- block title -%} Blog {%- endblock -%} 


{%- block content -%}

<div
	class="site-header sticky-top py-2 d-flex justify-content-end mb-4 border-2 border-bottom border-info my-text-color my-body-bg-color"
>
	<div class="btn-group btn-group-lg">
        {% set tab = request.args.get('tab') %} 

		<a
			href="./?tab=posts"
            {%- if not tab or tab == "posts" %}
                class="btn btn-primary active"
                aria-current="page"
            {%- else %}
                class="btn btn-primary"
            {%- endif %}
		>
            Posts
        </a>
		<a
			href="./?tab=tags"
			{%- if tab == "tags" %}
                class="btn btn-primary active"
                aria-current="page"
            {%- else %}
                class="btn btn-primary"
            {%- endif %}
		>
            Tags
        </a>
	</div>
</div>

{%- endblock content -%}
