{%- macro show_all_posts_from_(posts) %}
    {%- for post in posts %}
        <div class="post rounded my-form-bg-color py-3 mb-3">
            <a href="{{ url_for('blog.get_post_by_', post_url=post.url) }}">
                <div class="post_title text-decoration-underline">
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="post_body py-2">
                    <p>{{ post.body[:200] | striptags }}...</p>
                </div>
            </a>
            {{ show_info_about_(post) }}
        </div>
    {%- endfor %} 
{%- endmacro %} 

{%- macro show_info_about_(item) %}
    <div class="item_info d-flex justify-content-between">
        <div class="item_author me-3">
            <b>Author:</b> &nbsp; 
            <a 
                href="{{ 
                    url_for(
                        'profile.get_user_with_', 
                        username=item.user.username
                    ) 
                }}"
                class="text-decoration-underline my-text-color"
            >
                {{ item.user.username }}
            </a>
        </div>
        <div class="item_created">
            <b>Created:</b> &nbsp; 
            {{ item.created.strftime("%d.%m.%Y") }}
        </div>
    </div>
{%- endmacro %} 

{%- macro show_all_tags_from_(tags) %}
    {%- for tag in tags %}
        <a
            class="d-inline float_left me-3 mb-3 text-decoration-none"
            href="{{ url_for('blog.get_all_posts_with_', tag=tag.url) }}"
        >
            <span 
                style="line-height: 1.5em;"
                class="tag badge border rounded"
            >#{{ tag.title }}</span>
        </a>
    {%- endfor %}
{%- endmacro %} 

{%- macro show_all_comment_from_(comments, user_id) %}
    {%- for comment in comments %}
        <div class="alert alert-dark" role="alert">
            <div class="d-flex justify-content-between">
                <p>{{ comment.body }}</p>

                {%- if comment.user.id == user_id %} 
                    <a 
                        class="btn-close delete-comment-btn"
                        href="{{ 
                            url_for(
                                'blog.delete_comment_with_', 
                                post_url=comment.post.url, 
                                comment_id=comment.id
                            ) 
                        }}"
                    ></a>
                {%- endif %}
            </div>
            {{ show_info_about_(comment) }}
        </div>
    {%- endfor %} 
{%- endmacro %} 