{%- extends 'blog/_blog.html' %}

{%- block styles -%}
    <style>
        .search { max-width: 70%; }

        @media screen and (max-width: 576px) {
            .search_form { margin-bottom: 25px; }
        }

        .item_info { color: white; }
    </style>
{%- endblock styles -%}

{%- block content_title -%} All posts ({{ posts.items | length }}) {%- endblock -%} 

{%- block search_form -%}
    {%- if posts.items or request.args.get("q", "")%}
        <form role="search" class="d-flex align-items-center">
            <input
                name="q"
                type="search"
                aria-label="Search"
                placeholder="Search"
			    value="{{ request.args.get('q', '') }}"
                class="form-control search me-2 ms-lg-3 ms-sm-0"
            />
            <button
                type="submit"
                class="btn btn-outline-success mt-1"
            >
                Search
            </button>
        </form>
    {%- endif %} 
{%- endblock search_form -%} 


{%- block content -%}
    {{ super() }}

    {%- if posts.items %}

        {%- from 'blog/_post_macros.html' import show_all_posts_from_ %} 
        {{ show_all_posts_from_(posts.items, current_user.id) }}

        {%- include 'blog/_pagination.html' %} 

    {%- else %}
        {%- from '_alerts_macros.html' import not_dismissible_alert %}

        {%- if request.args.get("q", "") %}
            {{ 
                not_dismissible_alert(
                    message="There are not such posts with '" 
                            + request.args.get('q', '') + "' yet",
                    category="danger"
                ) 
            }}
        {%- else %}
            {{ 
                not_dismissible_alert(
                    message="There are not any posts yet",
                    category="primary"
                ) 
            }}
        {%- endif %} 
    {%- endif %}
{%- endblock content -%} 

{%- block scripts -%}  
<script>
    function resize_pagination() {
        let pagination = document.querySelector(".pagination");
    
        window.outerWidth >= 992
            ? pagination.classList.add("pagination-lg")
            : pagination.classList.remove("pagination-lg");

        window.outerWidth <= 768
            ? pagination.classList.add("pagination-sm")
            : pagination.classList.remove("pagination-sm");
    }
    
    resize_pagination();
    window.addEventListener("resize", resize_pagination);
</script>
<script src="{{ url_for('static', filename='js/delete_btn.js') }}"></script>
{%- endblock scripts -%} 