{%- extends 'blog/_blog.html' %}

{%- block styles -%}
    <style>
        .post a { color: #eee; }

        .post { 
            transition: 0.3s;
            box-shadow: 0 0 10px 0.5px var(--my-text-color); 
        }
        .post:hover { box-shadow: 0 0 15px 2px var(--my-text-color); }

        .post_info { color: white; }
    </style>
{%- endblock styles -%}

{%- block content_title -%} All posts {%- endblock content_title -%} 

{%- block search_form -%}
    {%- if posts %}
        <form role="search">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                />
            <button
                class="btn btn-outline-success"
                type="submit"
                >
                Search
            </button>
        </form>
    {%- endif %} 
{%- endblock search_form -%} 


{%- block content -%}
    {{ super() }}

    {%- if posts %}
        {%- from 'blog/_post_macros.html' import show_all_ %} 
        {{ show_all_(posts) }}
    {%- else %}
        {%- from '_alerts_macros.html' import not_dismissible_alert %} 
        {{ 
            not_dismissible_alert(
                message="There are not any posts yet",
                category="primary"
            ) 
        }}
    {%- endif %}
{%- endblock content -%} 