{%- extends 'base.html' %} 

{%- block title -%} #{{ tag.title }} {%- endblock -%} 

{%- block content_title -%} 
    Posts with '#{{ tag.title }}' ({{ tag.posts.all() | length }})
{%- endblock -%} 


{%- block content -%}
    {%- if tag.posts.all() %}
        {%- from 'blog/_post_macros.html' import show_all_posts_from_ %}
        {{ show_all_posts_from_( tag.posts.all() ) }} 
    {%- else %}
        {%- from '_alerts_macros.html' import not_dismissible_alert %} 
        {{ 
            not_dismissible_alert(
                message="There are not any posts with '#" + tag.title + "' yet",
                category="primary"
            ) 
        }}
    {%- endif %}
{%- endblock content -%} 