<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="Nikita Hubariev" />
        <meta name="keywords" content="Blog, IT, Programming">
		<meta
			name="description"
			content="The blog site to publish posts on the IT topic."
		/>

        <!-- og:title is empty and social networks will take the page title -->
        <meta property="og:title" content="">
        <meta property="og:type" content="Blog site" />
        <meta property="og:site_name" content="ITish" />
        <meta
            property="og:url"
            content="{{ request.host_url[:-1] }}{{ request.path }}"
        >
        <meta
            property="og:description"
            content="The blog site to publish posts on the IT topic."
        >
        <meta
            property="og:image"
            content="{{ url_for('static', filename='images/site_header.png') }}"
        >

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="ITish header image">

		<title>{%- block title -%}{%- endblock -%} &nbsp;| ITish</title>

		<!-- Site favicon -->
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/favicon.ico') }}"
		/>

		<!-- Bootstrap 5 CSS file -->
		<link
			rel="stylesheet"
			crossorigin="anonymous"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
		/>

		<!-- General CSS file -->
		<link
			type="text/css"
			rel="stylesheet"
			href="{{ url_for('static', filename='css/general.css') }}"
		/>

		<!-- My styles and CSS files -->
		{%- block styles -%}{%- endblock -%}
	</head>
	<body>
		<div class="wrapper d-flex flex-column min-vh-100">
			<header>
				<nav
					class="navbar navbar-expand-lg navbar-dark my-panel-bg-color"
				>
					<div class="container-fluid">
						<a
							class="navbar-brand my-logo"
							href="{{ url_for('get_home_page') }}"
							>ITish</a
						>

						<!-- Burger button -->
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>

						<div
							id="navbarSupportedContent"
							class="collapse navbar-collapse"
						>
							<!-- Left navbar menu -->
							<ul
								class="navbar-nav list-group-horizontal-md me-lg-auto top-menu justify-content-center text-center"
							>
								<li class="nav-item me-lg-2 me-sm-4">
									<a class="nav-link" href="/">Home</a>
								</li>
								<li class="nav-item me-lg-2 me-sm-4">
									<a 
                                        class="nav-link" 
                                        href="/blog/?tab=posts"
                                    >Blog</a>
								</li>
								<li class="nav-item me-lg-2 me-sm-4">
									<a class="nav-link" href="/FAQs">FAQs</a>
								</li>
                                <li class="nav-item me-lg-2 me-sm-4">
									<a class="nav-link" href="/feedback">Feedback</a>
								</li>
                                <li class="nav-item me-lg-2 me-sm-4">
									<!-- Search form -->
								    <div class="search_form d-flex justify-content-center">
                                        {%- block search_form -%}{%- endblock -%}
                                    </div>
								</li>
							</ul>

							<!-- Right navbar menu -->
							<ul
								class="navbar-nav list-group-horizontal justify-content-between mt-lg-0 mt-md-3 mt-sm-3"
							>
								<li class="nav-item me-3">
									<button
										id="toggle-theme"
										class="my-panel-bg-color rounded-circle"
									>
										<ion-icon
											class="my-panel-bg-color rounded-circle"
										></ion-icon>
									</button>
								</li>
								<li class="nav-item">
									{%- if current_user.is_authenticated %}
									<div class="dropdown text-end">
										<a
											href="#"
											class="d-block link-light text-decoration-none dropdown-toggle"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											<ion-icon
												name="person-circle-outline"
											></ion-icon>
										</a>
										<ul
											class="dropdown-menu text-small position-absolute mt-3"
										>
											<li>
												<a
													class="dropdown-item d-flex justify-content-between align-items-center"
													href="{{ 
                                                        url_for(
                                                            'profile.get_user_with_', 
                                                            username=current_user.username
                                                        ) 
                                                    }}"
												>
													Profile
													<ion-icon
														name="person-outline"
													></ion-icon>
												</a>
											</li>
											<li>
												<a
													class="dropdown-item d-flex justify-content-between align-items-center"
													href="{{ 
                                                        url_for(
                                                            'blog.create_post'
                                                        ) 
                                                    }}"
												>
													New post...
													<ion-icon
														name="add-circle-outline"
													></ion-icon>
												</a>
											</li>
											<li>
												<hr class="dropdown-divider" />
											</li>
											<li>
												<a
													class="dropdown-item d-flex justify-content-between align-items-center"
													href="{{ 
                                                        url_for(
                                                            'auth.log_out_user', 
                                                            next=request.url
                                                        ) 
                                                    }}"
												>
													Log out
													<ion-icon
														name="log-out-outline"
													></ion-icon>
												</a>
											</li>
										</ul>
									</div>
									{%- else %}
									<a
										href="{{ 
                                            url_for(
                                                'auth.log_in_user', 
                                                next=request.url
                                            ) 
                                        }}"
										class="btn btn-outline-success me-2"
									>
										Log In
									</a>
									<a
										href="{{ url_for('auth.sign_up_user') }}"
										class="btn btn-primary"
									>
										Sign Up
									</a>
									{%- endif %}
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<main class="my-4">
				<div class="container">
					<div class="row">
						<div 
                            class="d-flex justify-content-between align-items-center"
                        >
                            <h1 class="mb-4">
                                {%- block content_title -%}{%- endblock -%}
                            </h1>
                            
                            {%- block near_content_title -%}{%- endblock -%}
                        </div> 
					</div>
					<div class="row content_block">
                        {%- block flashed_messages -%}
                            {%- include '_messages.html' %} 
                        {%- endblock -%}
                        
                        {%- block content -%}{%- endblock -%}

                        <button 
                            name="Go to top"
                            id="go-to-top-btn"
                        >
                            <ion-icon name="arrow-up-outline"></ion-icon>
                        </button>
                    </div>
				</div>
			</main>

			{%- block footer -%}
			<footer
				class="container-fluid my-panel-bg-color d-flex flex-wrap justify-content-between align-items-center py-3"
			>
				<div class="col-md-4 d-flex align-items-center">
					<a
						href="/"
						class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
					>
						<ion-icon name="aperture"></ion-icon>
					</a>
					<span class="mb-3 mb-md-0 text-muted"
						>&copy; 2023</span
					>
				</div>

				<ul
					class="nav col-md-4 justify-content-end list-unstyled d-flex"
				>
					<li class="ms-3">
						<a
							target="_blank"
							class="text-muted"
							href="https://github.com/Gubchik123"
						>
							<ion-icon name="logo-github"></ion-icon>
						</a>
					</li>
					<li class="ms-3">
						<a
							target="_blank"
							class="text-muted"
							href="https://www.instagram.com/nikitos.1746/"
						>
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</li>
					<li class="ms-3">
						<a class="text-muted" href="#">
							<ion-icon name="logo-linkedin"></ion-icon>
						</a>
					</li>
				</ul>
			</footer>
			{%- endblock footer -%}
		</div>

		<!-- Bootstrap 5 script -->
		<script
            crossorigin="anonymous"
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		></script>

		<!-- Light dark toggle script -->
		<script src="{{ url_for('static', filename='js/toggle_theme.js') }}"></script>

        <!-- Scrolling script -->
        <script src="{{ url_for('static', filename='js/scrolling.js') }}"></script>

		<!-- Scripts for icons from "https://ionic.io/ionicons" -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>

		<!-- My scripts and JS files -->
		{%- block scripts -%}{%- endblock -%}
	</body>
</html>
